.login-wrapper {
  max-width: 32rem;
  margin: auto;
  padding: 2rem;

  h2,
  p {
    margin-bottom: 1rem;
  }

  form {
    width: 100%;
  }

  .input-container {
    width: 100%;
    margin-bottom: 1rem;

    input {
      border: 1px solid black;
      border-radius: 0;
      padding: 0.5rem 0.6rem;
      font-size: inherit;
      font-family: inherit;
      width: 100%;

      &::placeholder {
        color: black;
      }
    }

    p.error-message {
      color: rgb(182, 8, 8);
      font-size: 0.8em;
    }
  }
}
