/* basic style resets */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: hsl(40, 100%, 60%);
}

a {
  text-decoration: none;
  color: inherit;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 1rem 1rem 0 0;
}

button,
input[type='submit'] {
  background: black;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 100ms linear;
  outline: 1px solid black;

  &:hover {
    background-color: hsl(20, 80%, 50%);
    color: black;
    outline: 1px solid black;
  }
}

/* styling for the main element */

main {
  margin-top: 4rem;
  padding: 2rem;
}
